// Import page-specific CSS files here.
@import "home";

a {
  text-decoration: none;
  color: black
}

a:hover {
  text-decoration: none;
  color: black
}

.card-index:hover {
  box-shadow: 0px 5px rgba(0, 0, 0, 0.05);
}

