// Import page-specific CSS files here.
@import "home";

a {
  text-decoration: none;
  color: black
}

a:hover {
  text-decoration: none;
  color: black
}

.card-index:hover {
  border: 1px solid $primary;
}




.fancy {
  text-decoration: underline;
  text-decoration-color: $primary;
  text-decoration-thickness: 0.2rem;
  text-decoration-line: underline;
}

.navbar {
  background: none;
}

