// Import page-specific CSS files here.
@import "home";
@import "new";
@import "show";



.btn-outline-primary {
  background-color: white;
}
.btn-outline-primary:hover {
  background-color: $primary;
}
.btn-outline-danger {
  background-color: white;
}
.btn-outline-danger:hover {
  background-color: $danger;
}

.fi {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  // border: solid 1px white;
  background-size: 150%;
  }

.suggestions {
  display: inline-block;
  font-size: 0.75rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #eaffff;
  color: $primary;
  border: 1px solid $primary;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  font-weight: lighter;
}
.suggestions-home {
  display: inline-block;
  font-size: 1rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ffffff;
  color: $primary;
  border: 1px solid $primary;
  margin-right: 0.6rem;
  margin-bottom: 0rem;
  font-weight: lighter;
}

.navbar-toggler {
  border: 0;
}

input[type="date"],
textarea {
  background-color: white;
}

input[type="time"],
textarea {
  background-color: white;
}

.form-control {
  background-color: white;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $primary !important;
  color: white;
}

.suggestions-selected {
  display: inline-block;
  font-size: 0.75rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $primary;
  color: white;
  border: 1px solid $primary;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  font-weight: lighter;
}

#btnn:hover {
  background-color: white;
}

label {
  font-weight: bold
}

.form-control.is-valid {
  border-color: #CED4D8;
  border-width: 1px;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2319AC9F' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.btn-outline-primary:hover {
  color: white;
  // background-color: white;
}

.card-index:hover {
  border: 1px solid $primary;
}

.fancy {
  text-decoration: underline;
  text-decoration-color: $primary;
  text-decoration-thickness: 0.2rem;
  text-decoration-line: underline;
}

.navbar {
  background: none;
}

.select2-selection__rendered {
  line-height: 2.15rem !important;
  border-radius: 0.2rem;
  background-color: white;
}

.select2-container .select2-selection--single {
  height: 2.27rem !important;
  // margin-top: 0.275rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  padding: 1rem;
}

span.select2-selection {
  border-color: #CED4D9 !important;
  border-radius: 1rem;
}

#post_card:hover {
  border: solid $primary 0.125rem;
}

input {
  -webkit-appearance: none;
}

.oposite {
  flex-direction: row-reverse;
}

textarea.form-control {
  height: 1rem;
}

