<div class="row mb-2 m-1 py-1 px-2 rounded bg-secondary">

  <div class="col-sm-6">
    <div class="d-flex align-items-center justify-content-between">
      <p class="my-1 top-info-card text-white">ДАТУМ УТОВАР</p>
      <p class="my-1 top-info-card text-white" >МЕСТО УТОВАР</p>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="d-flex align-items-center justify-content-between">
      <p class="my-1 top-info-card text-white">ДАТУМ ИСТОВАР</p>
      <p class="my-1 top-info-card text-white" >МЕСТО ИСТОВАР</p>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="d-flex align-items-center justify-content-between">
      <p class="my-1 top-info-card text-white">ТИП КАМИОН</p>
      <p class="my-1 top-info-card text-white text-center">ДОЛЖИНА<p>
      <p class="my-1 top-info-card text-white">ТЕЖИНА</p>
    </div>
  </div>

</div>
