<div class="text-center fixed-bottom my-5">
<% if I18n.locale == :en %>
<%= link_to "🇷🇸 Na Srpski", url_for(locale: :rs), class: "mb-3 locale-link" %>
<% else %>
<%= link_to "🇬🇧 Switch to English", url_for(locale: nil), class: "mb-3 locale-link" %>
<% end %>
</div>
