<div class="text-center my-4">
<% if I18n.locale == :en %>
<%= link_to "Srpski", url_for(locale: :rs), class: "locale-link" %>
<% else %>
<%= link_to "English", url_for(locale: nil), class: "locale-link" %>
<% end %>
</div>
