// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "filter";

.inactive {
  border-right: 0.25rem solid rgb(195, 75, 75);
}

.locale-link {
  color: white;
}
.locale-link:hover {
  opacity: 0.9;
}
